## References

- https://towardsdatascience.com/an-overview-of-pythons-datatable-package-5d3a97394ee9
- https://datatable.readthedocs.io/en/latest/start/quick-start.html

In [1]:
# Importing necessary Librariesimport numpy as np
import pandas as pd
import datatable as dt
print(dt.__version__)

0.11.1

In [2]:
%%time
datatable_df = dt.fread('/data/kaggle_mobile_phone_activity_in_city/sms-call-internet-mi-2013-11-01.csv') #80mb data

CPU times: user 1.16 s, sys: 292 ms, total: 1.45 s
Wall time: 526 ms

In [3]:
%%time
pandas_df = pd.read_csv('/data/kaggle_mobile_phone_activity_in_city/sms-call-internet-mi-2013-11-01.csv') #80mb data

CPU times: user 1.57 s, sys: 139 ms, total: 1.71 s
Wall time: 1.62 s

## Datable to Numpy / Pandas

In [4]:
numpy_df = datatable_df.to_numpy()
pandas_df = datatable_df.to_pandas()

In [5]:
print(datatable_df)

        | datetime             CellID  countrycode    smsin   smsout   callin  callout  internet
------- + -------------------  ------  -----------  -------  -------  -------  -------  --------
      0 | 2013-11-01 00:00:00       1            0   0.3521  NA       NA        0.0273   NA
      1 | 2013-11-01 00:00:00       1           33  NA       NA       NA       NA         0.0261
      2 | 2013-11-01 00:00:00       1           39   1.7322   1.1047   0.5919   0.402    57.7729
      3 | 2013-11-01 00:00:00       2            0   0.3581  NA       NA        0.0273   NA
      4 | 2013-11-01 00:00:00       2           33  NA       NA       NA       NA         0.0274
      5 | 2013-11-01 00:00:00       2           39   1.7334   1.088    0.602    0.4109   57.8875
      6 | 2013-11-01 00:00:00       3            0   0.3644  NA       NA        0.0273   NA
      7 | 2013-11-01 00:00:00       3           33  NA       NA       NA       NA         0.0287
      8 | 2013-11-01 00:00:00       3           39   1.7348   1.0701   0.6128   0.4203   58.0095
      9 | 2013-11-01 00:00:00       4            0   0.3349  NA       NA        0.0273   NA
     10 | 2013-11-01 00:00:00       4           33  NA       NA       NA       NA         0.0226
     11 | 2013-11-01 00:00:00       4           39   1.7284   1.1533   0.5627   0.3763   57.4408
     12 | 2013-11-01 00:00:00       5            0   0.3178  NA       NA        0.0237   NA
     13 | 2013-11-01 00:00:00       5           33  NA       NA       NA       NA         0.0217
     14 | 2013-11-01 00:00:00       5           39   1.553    1.0439   0.511    0.3503   52.1497
      … | …                         …            …        …        …        …        …         …
1891923 | 2013-11-01 23:00:00   10000           20   0.086   NA       NA       NA        NA
1891924 | 2013-11-01 23:00:00   10000           33   0.0542  NA       NA       NA        NA
1891925 | 2013-11-01 23:00:00   10000           39   3.3318   3.6637   0.8509   1.0462   99.364
1891926 | 2013-11-01 23:00:00   10000           49  NA       NA       NA        0.0048   NA
1891927 | 2013-11-01 23:00:00   10000          221  NA       NA        0.086    0.172    NA

[1891928 rows x 8 columns]

In [6]:
pandas_df

,datetime,CellID,countrycode,smsin,smsout,callin,callout,internet
0,2013-11-01 00:00:00,1,0,0.3521,NaN,NaN,0.0273,NaN
1,2013-11-01 00:00:00,1,33,NaN,NaN,NaN,NaN,0.0261
2,2013-11-01 00:00:00,1,39,1.7322,1.1047,0.5919,0.4020,57.7729
3,2013-11-01 00:00:00,2,0,0.3581,NaN,NaN,0.0273,NaN
4,2013-11-01 00:00:00,2,33,NaN,NaN,NaN,NaN,0.0274
...,...,...,...,...,...,...,...,...
1891923,2013-11-01 23:00:00,10000,20,0.0860,NaN,NaN,NaN,NaN
1891924,2013-11-01 23:00:00,10000,33,0.0542,NaN,NaN,NaN,NaN
1891925,2013-11-01 23:00:00,10000,39,3.3318,3.6637,0.8509,1.0462,99.3640
1891926,2013-11-01 23:00:00,10000,49,NaN,NaN,NaN,0.0048,NaN
1891927,2013-11-01 23:00:00,10000,221,NaN,NaN,0.0860,0.1720,NaN

## Calculate mean

In [7]:
%%time
datatable_df.mean() #80mb dataset

CPU times: user 335 ms, sys: 2.59 ms, total: 337 ms
Wall time: 175 ms

In [8]:
# %%time
# pandas_df.mean() #80mb dataset
# # never ending

## Sorting the Frame

In [9]:
%%time
datatable_df.sort('CellID')

CPU times: user 1.25 s, sys: 4.14 ms, total: 1.25 s
Wall time: 437 ms

In [10]:
%%time
pandas_df.sort_values(by='CellID')

CPU times: user 304 ms, sys: 16.3 ms, total: 320 ms
Wall time: 228 ms

,datetime,CellID,countrycode,smsin,smsout,callin,callout,internet
0,2013-11-01 00:00:00,1,0,0.3521,NaN,NaN,0.0273,NaN
1489199,2013-11-01 19:00:00,1,46,NaN,NaN,NaN,NaN,0.0279
1489198,2013-11-01 19:00:00,1,39,2.5834,2.7301,2.2768,3.5099,79.8703
1489197,2013-11-01 19:00:00,1,34,NaN,NaN,NaN,0.0273,NaN
1489196,2013-11-01 19:00:00,1,0,1.3015,NaN,NaN,0.1330,NaN
...,...,...,...,...,...,...,...,...
1757398,2013-11-01 21:00:00,10000,33,0.0542,NaN,NaN,NaN,NaN
1757399,2013-11-01 21:00:00,10000,39,2.9931,6.8901,1.8219,2.9876,104.2472
1757400,2013-11-01 21:00:00,10000,212,NaN,NaN,NaN,0.0860,NaN
548230,2013-11-01 09:00:00,10000,43,0.4165,NaN,NaN,NaN,NaN
1891927,2013-11-01 23:00:00,10000,221,NaN,NaN,0.0860,0.1720,NaN

## Deleting Rows/Columns

In [11]:
del datatable_df[:, 'internet']

In [12]:
datatable_df

## GroupBy

In [13]:
%%time
for i in range(5):
    datatable_df[:, dt.sum(dt.f.countrycode), dt.by(dt.f.CellID)]

CPU times: user 1.66 s, sys: 13.3 ms, total: 1.68 s
Wall time: 602 ms

In [14]:
%%time
for i in range(5):
    pandas_df.groupby("CellID")["countrycode"].sum()

CPU times: user 396 ms, sys: 24.4 ms, total: 421 ms
Wall time: 289 ms

**What does .f stand for?**

f stands for frame proxy, and provides a simple way to refer to the Frame that we are currently operating upon. In the case of our example, dt.f simply stands for dt_df.

## Filtering Rows

In [16]:
datatable_df[dt.f.CellID>dt.f.countrycode,"CellID"]

## Saving to CSV

In [19]:
datatable_df.to_csv('/data/output/datatable_output.csv')

## Summary

- datatable works really well for big data size, compared to pandas
- in terms of functionality, pandas still won